<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <form action="/" method="post">
            <div class="addtodo">
                <span class="icon">
                    <i class="fa-solid fa-calendar"></i>
                </span>
                <input class="input" name ="todo" type="text" placeholder="Add task to complete">
            </div>
            </form>
            <div class="line"></div>
            <div class="todolist" id="todo-box">
                <div class="todolist-items">
                    <% todos.forEach(function(todo) { %>
                        <textarea class="todo-placeholder" readonly><%= todo %></textarea>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>