.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* CSS for the box */
.box {
  width: 550px;
  height: 550px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.icon {
  position: relative;
  top: 32px;
  left: 25px;
  cursor: pointer;
}

.icon i {
  font-size: 18px;
  color: rgb(117, 117, 117);
}

/* CSS for the input element */
.input {
  margin-top: 20px;
  width: 80%;
  padding: 10px;
  padding-left: 35px;
  font-size: 16px;
}