*{
    margin: 0;
    padding: 0;
}

:root {
    --white: hsl(29, 100%, 92%);
}

body {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 3px);
    padding: 1px;
  }
  
  .container {
    background-color: var(--white);
  }

  .input{
    color: rgb(0, 0, 0);
    width: 400px;
    height: 40px;
  }

  .todo {
    margin: 10px;
    width: 80vh;
    height: 50vh;
  }